@import url("themes/current.css");

@-moz-document url-prefix("about:") {
  :root {
    --text-color: var(--fg) !important;
    --background-color: var(--bg0) !important;
    --in-content-page-background: var(--bg0) !important;
    --background-color-box: var(--bgd) !important;
    --color-accent-primary: var(--green) !important;
    --color-accent-primary-hover: red !important;
    --color-accent-primary-active: var(--color-accent-primary) !important;
    --color-accent-primary-selected: red !important;

    --link-color: var(--blue) !important;
    --link-color-hover: var(--yellow) !important;
    --zen-color-primary: red !important;

    --arrowpanel-color: red !important;
    --arrowpanel-background: green !important;
  }
}

@-moz-document url-prefix("about:blank") {
  html,
  body,
  body :not(iframe) {
    background-color: var(--bg0) !important;
    border-color: initial !important;
    color: initial !important;
  }

  /* Remove Dark Reader specific styles */
  style.darkreader,
  style[class^="darkreader"] {
    display: none !important;
  }
}

@-moz-document url("about:newtab"), url("about:home"), url("") {
  :root {
    --newtab-background-color: var(--bg0) !important;
  }
}

@-moz-document url-prefix("about:preferences"), url-prefix("about:settings") {
  :root {
    --zen-colors-primary: red !important;
    --zen-primary-color: red !important;

    --in-content-text-color: blue !important;
    --in-content-box-background: red !important;
    --icon-color: var(--fg) !important;

    --border-color: var(--grey0) !important;
    --background-color-box-info: var(--bgd) !important;
  }

  .main-content {
    background: var(--bgd) !important;
  }

  .navigation {
    background: var(--bg0) !important;
  }

  button.button {
    background-color: var(--bgd) !important;
    outline: 1px solid var(--grey0) !important;
  }

  groupbox button {
    background-color: var(--bgd) !important;
    color: var(--fg) !important;
  }

  groupbox menulist {
    background-color: var(--bgd) !important;
    color: var(--fg) !important;
    border: 1px solid var(--grey0) !important;
  }

  #input.with-icon {
    background-color: var(--bgd) !important;
    color: var(--fg) !important;
    border: 1px solid var(--grey0) !important;
  }

  .button-background {
    background-color: var(--green) !important;
    color: var(--bgd) !important;
  }
}
